@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

.time-container {
    text-align: center;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
    color: #17D4FE;
}

.clock {
    font-size: 50px;
    font-family: Orbitron, serif;
    letter-spacing: 7px;
}
