@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc((-220px + 10) * 10));
    }
}

.ticker{
    width: 750%;
    display: flex;
    /*animation: loop 10s linear infinite;*/
    animation: loop 10s linear infinite 1s both;
}

@keyframes scroll-horizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2300px);
    }
}

.coin-container {
    animation: scroll-horizontal 10s linear infinite;
}



.coin-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    gap: 10px;
}

.coin-list{
    width: 220px;
}

.coin-data {
    border: 1px solid #7f8c8d;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(25, 36, 50 , 0.9);
}

.coin-data:hover {
    animation: glow 0.5s ease-in-out infinite;
    filter: brightness(1.2);
}

.coin-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.5s, filter 0.5s;
}

.coin-image:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.coin-info {
    flex-grow: 1;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #3498db;
    }
    50% {
        box-shadow: 0 0 20px #3498db;
    }
    100% {
        box-shadow: 0 0 5px #3498db;
    }
}

