/* ニュース関連のコンテナ */
.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    overflow-y: auto;
    /*overflow: auto;*/
    height: 700px;
}

.news-item {
    display: flex;
    align-items: flex-start; /* 上端揃え */
    background-color: rgba(25, 36, 50 , 0.75);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ecf0f1;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.news-image {
    max-width: 300px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px; /* 画像とテキストの間に余白を追加 */
}

.news-content {
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.news-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: aquamarine;
}

.news-description {
    color: #bdc3c7;
    margin-bottom: 15px;
}

.news-link {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

.news-link:hover {
    color: #2980b9;
}


.time-data {
    animation: fadeIn 1s ease-in-out;
}
